<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="DBMySQL" value="Server=localhost; Database=aoe_2; User=root; Password=140702; charset=utf8"/>
	</appSettings>
</configuration>